<form class="example-form">
  <h3><br>Search your audios:</h3>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>ID</mat-label>
    <input (change)="getInput()" [(ngModel)]="content" name="content" matInput #message maxlength="40" placeholder="Ex. Use * para trazer todos os audios">
    <mat-hint align="end">{{message.value.length}} / 40</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary" id="convert">Search</button>
</form>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    
    <!-- Position Post ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Post ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Voice Speaker -->
    <ng-container matColumnDef="voice">
      <th mat-header-cell *matHeaderCellDef> Voice Speaker </th>
      <td mat-cell *matCellDef="let element"> {{element.voice}} </td>
    </ng-container>
  
    <!-- Weight Content -->
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef> Content </th>
      <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container>
  
    <!-- Symbol Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Symbol Player -->
    <ng-container matColumnDef="player">
      <th mat-header-cell *matHeaderCellDef> Player </th>
      <td mat-cell *matCellDef="let element"> {{element.player}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  
  