<!-- <header class="p-3 mb-3 bg-primary text-white"> -->
  <!-- <div class="toolbar" role="banner">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand" href="#" >Text to Speech</a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"></form>

      <div class="dropdown text-end" *ngIf="usuarioEstaAutenticado()">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="./../assets/user.png" alt="mdo" width="32" height="32" class="rounded-circle" />
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li>
            <a class="dropdown-item" routerLink="/profile" routerLinkActive="active"
              >Perfil</a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a class="dropdown-item" routerLink="">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
<!-- </header> -->

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    <button mat-button routerLink="/">{{title}}</button>
  </span>
  <span class="example-spacer"></span>
  <div class="" fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!usuarioEstaAutenticado()">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="usuarioEstaAutenticado()" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>