.example-form {
    width: 100%;

  }
  
  .example-full-width {
    width: 100%;
  }

h3 {
  font-size: 24px;
}

.label-do-lado {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 46rem;
}