<form class="example-form">
  <h3>Convert your text:</h3>
  <mat-form-field appearance="fill">
    <mat-label>Your speaker</mat-label>
    <mat-select [(ngModel)]="content.voice" name="voice">
      <mat-option></mat-option>
      <mat-option [value]="option.text" *ngFor="let option of speakers">{{ option.voice}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Text</mat-label>
    <input (change)="getInput()" [(ngModel)]="content.text" name="content" matInput #message maxlength="10000" placeholder="Ex. Amazon Elastic Kubernetes Service (Amazon EKS) is a managed container service to run and scale Kubernetes applications in the cloud or on-premises...">
    <mat-hint align="end">{{message.value.length}} / 10000</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary" id="convert" (click)="convertToAudio(content)">Convert</button>
</form>